* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-around;
    background: #f7f7f7;
    color: #fff7f0;
    min-width: 100%;
    min-height: 100vh;
    font-family: "Victor Mono";
    position: relative;
}

:root {
    --klr-palette-primary-main-color: #cf2f2a;
    --modal-background-ok: linear-gradient(56deg, rgba(0, 0, 0, 1) 0%, rgba(35, 35, 47, 1) 50%);
}

form {
    position: relative;
    margin: 0 auto;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    background-color: #23232f;
    min-width: 70%;
    height: auto;
    padding: 6%;
    border-radius: 12px;
    font-size: 20px;
    background: linear-gradient(56deg, rgba(0, 0, 0, 1) 0%, rgba(35, 35, 47, 1) 50%);
}

form::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -20px;
    left: 10%;
    width: 80%;
    height: 10px;
    background: #000;
    border-radius: 50%;
    box-shadow: 0 0 40px 34px #16161f77, 0 0 30px 20px #141414fa, 0 0 2px 2px, 0 0 9px 2px #121212ff;
}

#logo-cnt {
    width: 230px;
    max-height: 230px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: not-allowed;
}


.logo-subtitle {
    /* text-align: center; */
    font-family: monospace;
    color: #cf2f2a;
    font-size: 46px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    position: relative;
}

.logo-subtitle::before {
    content: "";
    display: block;
    width: 100%;
    height: 7px;
    ;
    background-color: #cf2f2a;
    position: absolute;
    top: -10px;
    left: 0;
}

#content-cnt {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
}


#modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #141414a7;
    z-index: 50;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
}

#modal.active {
    visibility: visible;
    opacity: 1;
    z-index: 50;
    transition: all 0.3s ease 0s;
}

#modal div {
    position: absolute;
    display: flex;
    gap: 24px;
    flex-direction: column;
    padding: 50px;
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    width: 500px;
    min-height: 200px;
    border-radius: 5px;
    /* background: #cf2f2a; */
    box-shadow: 0 0 600px 3px #cf2f2a;

}

#modal[data-color='ok'] div {
    background: #000;
}

#modal[data-color='err'] div {
    background: var(--klr-palette-primary-main-color);
}


.input-line {
    display: flex;
    min-width: 100%;
}


#input-cnt {
    min-height: 58px;
    /* min-width: 100%; */
    padding: 12px;
    background: #16161f;
    border: 1px solid #777;
    border-color: #77777777;
    font-size: 24px;
    color: #fff7f0;
}

#input-cnt[data-state="checking"] {
    background-color: #90909037;

}




#btns-cnt {
    display: flex;
    gap: 12px;
}

input {
    border-radius: 6px 0 0 6px;
}

button,
::placeholder {
    font-family: inherit;
    border-radius: 6px;
    outline: none;
}

button {
    font-size: 24px;
    min-height: 58px;
    min-width: 230px;
    font-weight: bold;
    color: #fff7f0;
    background-color: #23232f;
    border: 1px solid #77777777;

}

.input-line button#clear-btn {
    min-width: 60px;
    border-radius: 0 6px 6px 0;
    background-color: var(--klr-palette-primary-main-color);
}



button:hover,
#input-ctr:hover {
    background-color: #161616;
    border-color: #777777ff;
    transition: all 0.3s ease 0s;
    box-shadow: 0 10px 12px 2px #16161f77;

}

.input-line button#clear-btn:hover {
    box-shadow: -10px 0 30px 1px #f55;
    /* background-color: #fff; */

}

button:disabled {

    background-color: #77777777;
    position: relative;
    color: #baa8a8;
    cursor: not-allowed;

}



#start-end-btn {
    width: 100%;
    /* flex: 0 1 100%; */
}

/* ANIMATIONS */
@keyframes loader2 {

    /* ============1=========== */
    0% {
        /* transform: rotate3d(1, 0, 0, 0deg); */
        transform: rotateX(0deg) rotateY(0deg);
        /* transform: rotateY(0deg); */
        top: 0px;
        left: 24px;
    }

    24% {
        /* transform: rotate3d(1, 0, 0, 180deg); */
        transform: rotateX(180deg) rotateY(0deg);
        top: 24px;
        left: 24px;
    }

    /* =============2============== */
    25% {
        transform: rotateX(180deg) rotateY(0deg);
        top: 24px;
        left: 24px;
    }

    49% {

        transform: rotateX(180deg)rotateY(-180deg);
        left: 0px;
        top: 24px;
    }

    /* =============3================= */
    50% {
        transform: rotateX(180deg) rotateY(-180deg);
        left: 0px;
        top: 24px;
    }

    74% {
        transform: rotateX(0deg)rotateY(-180deg);
        left: 0px;
        top: 0px;
    }

    /* ========4========== */
    75% {
        transform: rotateX(0deg)rotateY(-180deg);
        left: 0px;
        top: 0px;
    }

    100% {
        transform: rotateX(0deg)rotateY(0deg);
        left: 24px;
        top: 0px;
    }
}


@keyframes loader1 {

    /* ============1=========== */
    0% {
        /* transform: rotate3d(1, 0, 0, 0deg); */
        transform: rotateX(0deg) rotateY(0deg);
        /* transform: rotateY(0deg); */
        left: 0px;
        top: 24px;
    }

    24% {
        /* transform: rotate3d(1, 0, 0, 180deg); */
        transform: rotateX(180deg) rotateY(0deg);
        top: 0px;
        left: 0;
    }

    /* =============2============== */
    25% {
        transform: rotateX(180deg) rotateY(0deg);
        left: 0;
        top: 0;
    }

    49% {

        transform: rotateX(180deg)rotateY(180deg);
        left: 24px;
        top: 0;
    }

    /* =============3================= */
    50% {
        transform: rotateX(180deg) rotateY(180deg);
        left: 24px;
        top: 0;
    }

    74% {
        transform: rotateX(0deg)rotateY(180deg);
        left: 24px;
        top: 24px;
    }

    /* ========4========== */
    75% {
        transform: rotateX(0deg)rotateY(180deg);
        left: 24px;
        top: 24px;
    }

    100% {
        transform: rotateX(0deg)rotateY(0deg);
        left: 0px;
        top: 24px;
    }
}

.progress {
    width: 100%;
    height: 56px;
    background: transparent;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress__bar {
    height: 100%;
    width: 0;
    background: var(--klr-palette-primary-main-color);
    transition: .3s;
}